{% extends "template.html" %}
{% block body %}
<body class="login">
<div class="container loginmodule">

      <form class="form-signin" action="/login" method="POST">
        <h2 class="form-signin-heading">Please Log In</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required="">
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
      </form>

    </div> <!-- /container -->
</body>
{% endblock %}